.Container {
    background-color: white;

    border-radius: 2rem;
    padding: 0.5rem;
    align-self: center;
    justify-self: center;
    .Header {
        color: black;
        text-align: center;
        font-size: 1.8rem;
    }
    .Text {
        margin: 0.6rem;
        padding: 0.6rem;
        color: black;
        font-size: 1.6rem;
        span {
            font-weight: bold;
        }
    }
    box-shadow: 8px 8px 16px #ababab, -8px -8px 16px #ffffff;
}
.Danger {
    color: red;
}
.Success {
    color: green;
}
.Info {
    color: gainsboro;
}
